*{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box ;
  /* background-color: rgb(235, 230, 230); */
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: sticky;
  position: -webkit-sticky;
}


div{
  overflow: hidden;
}
.eeee{
  font-family: 'Great Vibes', cursive;
  font-size: 10vh;
  position: absolute;
  font-weight: lighter;
  width: 10vw;
}

.ee{
  font-family: 'Great Vibes', cursive;
  font-size: 10vh;
  z-index: 50;
  margin-left: .45vw;
  margin-top: 5vh;
  position: absolute;
  font-weight: lighter;
  width: 10vw;
}

.e{
  font-family: 'Great Vibes', cursive;
  font-size: 15vh;
  font-weight: lighter;
  padding: .5vh .5vw;
}
.big-link:link {
  color:black;
}

/* visited link */
.big-link:visited {
  color: gray;
}

/* mouse over link */
.big-link:hover {
  color: rgb(163, 163, 230);
  font-size:6vh;
}

/* selected link */
.big-link:active {
  color: black;
}

.header{
  display: flex;
  justify-content: center;
  height: 30vh;
  /* padding: 1vw 1vh; */
  box-sizing: border-box; 
  margin: 0;
  overflow: visible;
  width: 100vw;
 
  align-items: center;


}
.logo{
  height: 20vh;
  width: 25vw;
  padding-left: 2vw;
}

.nav-l{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 25vw;
  align-content: flex-start;
  overflow: visible;
 
  height: 20vh;
  
}
.nav{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  color: black;
  text-decoration: none;
  list-style: none;
  width: 8vw;
  
  overflow: visible; 
  position: relative;
  z-index: 5;
  height: 30vh;
  
}

.main-logo{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  height: 35vh;
  font-size: 10vh;
  /* padding: 1vh; */
  font-weight: lighter;
  overflow: visible;
  
}


.subtitle{
text-align: center;
position: relative;
  width: 100vw;
  font-size: 4vh;
  padding: 2vh;
 }
/* about us */

.h1-home{
  text-align: center;
  font-size: 60%;
  font-weight: lighter;
  border-bottom: solid 2px rgb(8, 8, 58);
}
h1{
  text-align: center;
}

.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 160%;
  align-items: center;
  padding: 1rem;
  
  font-size: 2.5vh;
}
.about-us{
display: flex;
flex-direction: column;
justify-content: center;
padding: 1rem;
width: 70ch;

}


/* services */
.services{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}
.services-not{

text-align: center;
padding-bottom: 4rem;
}

p{
  padding-bottom: 2rem;
}
h2{
  height:5vh;
  font-weight: lighter;
  padding: 2rem;
}
.services-list{
display: flex;
justify-content: space-around;
width: 100vw;
padding: 1vw;

line-height: 160%;
font-size: 3vh;
}
.contacts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.contact-methods{
  display: flex;
  justify-content: space-around;
  width: 100vw;

  overflow: visible;
}

.contact{
  line-height: 150%;
  padding: 3vh;
  display: flex;
  flex-direction: column;
  font-size: 3vh;
 
  height: 40vh;
  width: 45ch;
  align-items: center;
  justify-content: center;
  overflow: visible;
}
.contact-line{
  line-height: 150%;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  font-size: 3vh;

  height: 20vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.center-footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}
.center-footer-div{
  display: flex;

}
.footer{
  display: flex;
  justify-content: space-between;
  background-color: rgb(8, 8, 58);
  padding-left: 1vw;
  padding-right: 2vw;
  font-size: 2vh;
  color: #f8f8f8; 
  height: 22vh;
  align-items: center;
}
.service-footer{
  font-size: 3vh;
  
}


.horizontal-cards{
  display: flex;
  flex-direction: row;
  
  justify-content: space-around;
 
  padding-bottom: 2vh;
  align-items: space-around;
  height: 70vh;
  
}

.horizontal-cards-child {
 position: relative;
  display: flex; 
  justify-content: space-around; 
  flex-direction: column;
  align-items: center;
  height: 50vh;
  width: 18vw;
  overflow: visible;
  white-space: nowrap;
}

.horizontal-cards-child:before{
  content: '';
  position: absolute;
  bottom: -50px;
  left: 5%;
  width: 90%;
  height: 20px;
  background: rgba(0,0,0,0.3);
  border-radius: 50%;
  z-index:-1;
  filter: blur(10px);
}
.horizontal-cards-child-icon{
width: 10vw;
height: 10vh;
}

.horizontal{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 5vh;
}

.text{
  width: 35vw;
  line-height: 175%;
  border: none;
  height: 45vh;
  border-radius: 5%;
  padding: 3em;
  background-color: rgb(8, 8, 58);
  color: #f8f8f8;
  font-size: 3vh;
}

.textt{
  width: 35vw;
  line-height: 175%;
  
  height: 75vh;
  overflow: visible;
  
 
}
.horizontal-cards-col{
display: flex;
flex-direction: column;
width: 100vw;
justify-content: space-evenly;
align-items: center;
padding-bottom: 2vh;
height: 35vh;
}

.horizontal-col{
 
  display: flex;
  flex-direction: column;
  font-size: 5vh;
  height: 75vh;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  
}

.help{
  
 
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
 width: 50vw;
border-bottom: rgb(8, 8, 58) 3px solid;

 height: 10vh;
 color: rgb(8, 8, 58);
 padding: 2vh
}
.help-text{

width: 60ch;
justify-content: center;
align-content: center;
align-items: center;
height: 55vh;

font-size: 4vh;
}

.horizontal-contact{
  height: 30vh;
  
  display:flex;
  justify-content: space-around;
}

.col{
  
  height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  align-content: center;
  font-weight: bold;
}

.col:link {
  color:black;
}

/* visited link */
.col:visited {
  color: gray;
}

/* mouse over link */
.col:hover {
  color: rgb(163, 163, 230);
  font-size:6vh;
  border: 2px solid rgb(8, 8, 58);
  border-radius: 15%;
}

/* selected link */
.col:active {
  color: black;
}


/* gallery */

.gallery{
  display: flex;
  /* width: 100vw; */
  flex-flow: row wrap;
  
 
  padding: 3vh;
  align-content: space-around;
  justify-content: space-evenly;
}

.img{
  object-fit: cover;
  width: 50%;
  height: 50%;
  padding: 3vh;
}

.space-btm{
  padding: 4rem;
}